body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color:pink;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}
.contact {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

.contact p {
    font-size: 18px;
    margin: 10px 0;
}
sale-section {
    text-align: center;
    margin-top: 50px;
}

/* Blinking Text */
.blink {
    font-size: 40px;
    font-weight: bold;
    color: red;
    animation: blink-animation 1s infinite;
}

/* Blink Animation */
@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background-color: #f4f4f4;
    padding: 50px;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* Book List */
.book-list {
    padding: 20px;
}

.book {
    display: inline-block;
    margin: 20px;
}

.book img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
/* Google Map Section */
.map {
    text-align: center;
    margin-top: 20px;
}